// SIZES
$gap : 20px;
$font : 14px;
// PRIMARY COLORS
$primary : #1A2640;
$primaryLight : #EDD7C2;
$secondaryLight : #E6E6E6;
$box: #2E3951;
$boxActive: #ED7D3A;
$success: #8CD867;
$warning : #EF2D56;